.contattaciImage{
    background-image: url(../../media/beachrestaurant.jpg);
    min-height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.contattaciShade{
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contattaciShade h2{
    font-size: 40px;
}

.btnContattaci{
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-0);
}

.btnContattaci a {
    color: var(--color-0);
    text-decoration: none;
}

.btnContattaci:active {
    --bs-btn-active-border-color: var(--color-0);
}

.btnContattaci:active a {
    color: var(--color-0) !important;
}
  
.btnContattaci:hover {
    background-color: var(--color-0);
    border-color: var(--color-0);
}

.btnContattaci:hover a {
    color: var(--color-3);
}