.whiteBand{
    background-color: var(--color-0);
    min-height: 50vh;
}

/* .imageBand{
    background-image: url("../media/bluewave.png");
    background-position: center;
} */

.animatedh2{
    font-size: 36px !important;
}

.lorem{
    padding-right: 5%;
    padding-left: 5%;
}

