
.footerLogo{
  width: 200px;

}

li{
    list-style: none;
}

footer div ul li a {
    color: var(--color-3) !important ;
}

footer div ul li a:hover {
    color: var(--color-1) !important ;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footerLogo {
      width: 175px;
    }
  }