

.card{
    border-width: 1px;
}

.eventbtn{
    font-family: var(--font2);
    border-color: var(--color-1);
    border-width: 2px;
    border-radius: 0px;
    --bs-btn-active-bg:  var(--color-0);
    --bs-btn-active-border-color:  var(--color-1);
    transition: 0.2s;
    z-index: 1;
}

.eventbtn:hover{
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: var(--color-0);
}

.eventbtn:active{
    color: var(--color-1) !important;
}